.rating {
    list-style: none;
    float: left;
}
.date {
    font-size: 11px;
}

.comment-text {
    font-size: 15px;
    width: 500px;
    
}

.fs-12 {
    font-size: 12px;
    color: rgb(228, 228, 8);
}

.shadow-none {
    box-shadow: none;
}

.name {
    color: #525252;
}

.cursor:hover {
    color: blue;
}

.cursor {
    cursor: pointer;
}

.textarea {
    resize: none;
}
